.App {
    max-width: 768px;
    margin: 0 auto;
    overflow-x: hidden;
}

.App--header {
    background: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.App--header .title {
    margin: 0;
    color: #000;
}

.App--header .logo {
    color: #fff;
    margin: 0;
    background: #3de491;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding: 18px 24px;
}

.App--header .logo a {
    display: block;
    color: #fff;
    transition: all 0.15s ease-in;
}

.App--header .logo a:hover {
    color: #000;
    transform: scale(1.2);
}

.Product {
    background-color: #ffffff;
}

.Product--border-bottom {
    border-bottom: 1px solid #f1f1f1;
}

.Product--description {
    font-size: 0.875em;
}

.Product--price {
    font-size: 0.875em;
    padding: 12px;
}

.Product--quantity {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
}

.Product--purchased {
    background-color: #06e492;
    color: #f1f1f1;
    padding: 12px;
    font-size: 2em;
    text-align: center;
    transition: margin 0.3s;
    margin-left: -60px;
}

.Product--purchased.show {
    margin-left: 0;
}

.Cart--total {
    text-align: center;
}

.Cart--pay-button {
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.2s;
}

.Cart--pay-button:hover {
    background-color: #3de491;
}

.Cart--pay-button h2 {
    color: #fff;
    margin-bottom: 0;
    transition: all 0.15s ease-in;
}

.Cart--pay-button:hover h2 {
    color: #000;
    transform: scale(1.15);
}

.p-1 {
    padding: 12px;
}

.p-2 {
    padding: 24px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 12px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left
}